@keyframes animationColor {
	from {
		background-color: rgba(0, 0, 0, 0);
		-webkit-background-color: rgba(0, 0, 0, 0);
		-moz-background-color: rgba(0, 0, 0, 0);
		-ms-background-color: rgba(0, 0, 0, 0);
		-o-background-color: rgba(0, 0, 0, 0);
	}

	to {
		background-color: rgba(0, 0, 0, 0.65);
		-webkit-background-color: rgba(0, 0, 0, 0.65);
		-moz-background-color: rgba(0, 0, 0, 0.65);
		-ms-background-color: rgba(0, 0, 0, 0.65);
		-o-background-color: rgba(0, 0, 0, 0.65);
	}
}

[v-cloak]>* {
	display: none;
}

//[v-cloak]::before { content: "Loading…" }


.load_ing {
	display: grid;
	place-content: center;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&.over_lay {
		animation-name: animationColor;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

#app:not([v-cloak])~.load_ing {
	display: none;
}

#app~#load_er.over_lay {
	display: grid;
}

#app .v--modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.portlet[data-portlet=bannerform] {
	// @include reset();
	width: 100%;
	height: auto;
	overflow: hidden;
	@include to(tablet-h) {
		height: auto;
	}
	@include to(movil-h) {
		height: auto;
	}
	.section {
		width: 100%;
		height: 100%;
		position: relative;

		&__banner {
			width: 100%;
			height: 100%;
			display: block;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;

				@include to(movil-h) {
					object-position: top;
				}
			}
		}

		&__modals {
			display: none;

			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
			z-index: 100000;

			&.active {
				display: flex;
				align-items: center;
			}

			&__modal {
				width: 92%;
				max-width: 500px;
				margin: 3% auto 0;
				padding: 0;
				border: none;
				border-radius: 20px;
				background-color: #fff;
				position: relative;
				height: fit-content;
				// padding: 40px;

				&-close {
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 64 64'%3E%3Cpath d='m16 13a1 1 0 0 0-3 3l16 16-16 16a1 1 0 0 0 3 3l16-16 16 16a1 1 0 0 0 3-3l-16-16 16-16a1 1 0 0 0-3-3l-16 16z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") center center no-repeat;
					background-size: 20px 20px;
					width: 20px;
					height: 20px;
					position: absolute;
					margin: 15px;
					right: 0;
					top: 0;
					cursor: pointer;
				}


				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: 20px;

				&-group {
					padding: 40px 40px 0px;
					width: 100%;
					box-sizing: border-box;
					text-align: center;
					@include to(tablet-h){
						text-align: left;
					}
					&-title {
						font: normal 700 24px $font2;
						line-height: normal;
						color: #000;
						strong{
							color: #DA291C;
						}
						@include to(movil-h) {
							font-size: 18px;
						}
					}
				}

				&-main {
					padding: 0 40px 0px;
					width: 100%;
					@include to(movil-h) {
						max-height: 300px;
						overflow: hidden;
						overflow-y: scroll;
					}

					&-text {
						font: normal 400 16px $font1;
						line-height: normal;
						color: #000;

						@include to(movil-h) {
							font-size: 14px;
						}

						a {
							color: #008fa5;
							text-decoration: none;
							font-weight: 700;
						}
					}
					&-image{
						text-align: center;
						svg{
							max-width: 100%;
						}
					}
				}

				&-footer {
					padding: 0 0 40px;
					width: 100%;
					text-align: center;
					@include to(movil-h) {
						padding-bottom: 20px;
					}

					&-close {
						float: none;
						width: 130px;
						margin-right: 0;
						cursor: pointer;
						font: normal 700 16px $font1;
						line-height: 45px;
						color: #fff;
						background-color: #da291c;
						border: none;
						border-radius: 32px;
						@include to(movil-h) {
							width: calc(100% - 80px);
						}
					}
				}
			}
		}

		&__align {
			top: 0;
			position: relative;
			width: 100%;
			height: auto;
			margin: 0 auto;
			left: 0;
			right: 0;
			max-width: 1440px;
			display: flex;
			align-items: center;
			justify-content: center;

			@include to(1600px) {
				width: 100%;
			}
			@include to(tablet-h) {
				max-width: 100%;
				width: 100%;
				padding-bottom: 4%;
			}

			.content {
				width: 100%;
				max-width: 934px;
				height: fit-content;
				border-radius: 20px;
				background: #FFF;
				padding: 30px 0;
				margin-bottom: 15px;

				@include to(tablet-h) {
					padding: 22px 0;
					width: 484px;
					margin: 0 auto 15px;
				}
				@include to(movil-h) {
					max-width: 326px;
					padding: 18px 0;
					margin: 0 auto 15px;
					// padding: 15px;
				}

				.formBC {
					margin: 0 auto;
					width: calc(100% - 94px);
					gap: 20px;

					@include flexbox;
					@include flex-direction(column);
					@include justify-content(space-between);
					@include align-items(center);

					@include to(tablet-h) {
						width: calc(100% - 44px);
						gap: 16px;
					}

					@include to(movil-h) {
						gap: 10px;
						width: calc(100% - 0px);
					}

					&__group {
						text-align: left;
						width: 100%;
						&-image{
							margin-bottom: 20px;
							display: block;
							max-width: 218px;
							height: auto;
							@include to(tablet-h){
								max-width: 166px;
							}
							@include to(movil-h){
								max-width: 115px;
								margin-bottom: 20px;
							}
						}
						&-title {
							font: normal 700 30px $font2;
							line-height: 113%;
							color: #000;
							margin-bottom: 15px;

							@include to(tablet-h) {
								font-size: 22px;
								margin-bottom: 13px;
							}

							@include to(movil-h) {
								font-size: 18px;
							}
						}

						&-text {
							font: normal 400 20px $font1;
							line-height: 113%;
							color: #000;

							@include to(tablet-h) {
								font-size: 16px;
							}
						}
						&-subtitle {
							font: normal 700 20px $font1;
							line-height: 113%;
							color: #000;
							padding: 14px 0;
							@include to(tablet-h) {
								font-size: 16px;
							}
						}
					}

					&__main {
						width: 100%;
						display: flex;
						justify-content: space-between;
						// align-items: ce;
						flex-wrap: wrap;
						padding-top: 30px;
						@include to(tablet-h) {
							padding-top: 14px;
						}
						.type1 {
							width: 100%;
							position: relative;
						}

						.type2 {
							width: 49%;
							position: relative;
							@include to(tablet-h) {
								width: 100%;
							}
						}

						.type3 {
							width: 49%;
							position: relative;
							@include to(tablet-h) {
								width: 100%;
							}
						}

						.type4 {
							width: 100%;
						}
						.type5 {
							width: 49%;
							display: grid;
							grid-template-columns: 0.5fr 0.5fr 1.5fr;
							gap: 10px;
							@include to(tablet-h) {
								width: 100%;
								grid-template-columns: 0.5fr 0.65fr 1.3fr;
							}
						}

						dl {
							dd {
								input[type="text"],
								select {
									width: 100%;
									height: 40px;
									border-radius: 10px;
									border: 1px solid #91979E;
									// background: #FFF;
									padding-left: 10px;

									&:focus {
										outline: none;
									}
									&[disabled]{
										opacity: 0.4;
									}

									&.invalid:-webkit-autofill,
									&.invalid:-webkit-autofill:hover,
									&.invalid:-webkit-autofill:focus,
									&.invalid:-webkit-autofill:active {
										-webkit-box-shadow: 0 0 0 30px #fcf3f3 inset !important;


									}

									&.valid:-webkit-autofill,
									&.valid:-webkit-autofill:hover,
									&.valid:-webkit-autofill:focus,
									&.valid:-webkit-autofill:active {
										-webkit-box-shadow: 0 0 0 30px #f3fffc inset !important;

									}

									&.invalid {
										border: solid 1px #dc3545;
										//background-color: #fcf3f3;
										background: #fcf3f3 url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/dec02708-0cba-45ab-ae9a-8891641fd8bf-invalid.png") no-repeat calc(100% - 8px) center;
										color: #dc3545;

										&::placeholder {
											color: #dc3545;
											opacity: 1;
										}
									}

									&.valid {
										border: solid 1px #28a745;
										//background-color: #f3fffc;
										background: #f3fffc url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/7f3c32d9-4bfa-4e6d-ba20-8c223cc2deca-valid.png") no-repeat calc(100% - 8px) center;
										color: #006B4F;
									}
								}


							}
						}

						&-input {
							width: 100%;
							height: 40px;
							border-radius: 10px;
							border: 1px solid #91979E;
							background: #FFF;
							padding-left: 10px;
							margin-bottom: 12px;
							appearance: none;
							font: normal 400 15px $font1;
							line-height: normal;
							color: #000;

							&::placeholder {
								color: #75787C;
							}

							&:focus {
								outline: none;
							}
							&::-webkit-calendar-picker-indicator {
								opacity:0;
							}
							@include to(movil-h) {
								margin-bottom: 8px;
							}
							&.inputBBVA{
								// text-align: center;
								// padding-left: 2px !important;
								// &.minInput{
								// 	&.valid, &.invalid{
								// 		text-align: left;
								// 		padding-left: 10px !important;
								// 	}
								// }
								&:disabled{
									background-color: #F5F5F5;
									opacity: 1 !important;
									color: #202124;
									text-align: center;
									padding-left: 0;
								}
							}
						}

						&-select {
							appearance: none;
							background: transparent url('https://static.claro.com.pe/img/arrow-bottom.svg') no-repeat calc(100% - 10px) center;
							width: 100%;
							height: 40px;
							border-radius: 10px;
							border: 1px solid #91979E;
							padding-left: 16px;
							margin-bottom: 12px;

							font: normal 400 15px $font1;
							line-height: normal;
							color: #000;
						}

						&-checkbox {
							margin-top: 15px;

							@include to(tablet-h) {
								margin-top: 11px;
							}

							// &:nth-child(0) {
							// 	@include to(movil-h) {
							// 		margin: 0;
							// 	}
							// }


							// @include to(movil-h) {
							// 	margin-top: 1;
							// }

							input[type="checkbox"] {
								display: none;
							}

							input[type="checkbox"]:checked+label b {
								background-color: #0fbfdf;
								color: $color_t1;
								@include transicion(all, 0.2s, ease, 0s);

								&:before {
									content: "\f00c";
									@include icon(0px);
									font-size: 13px;
									color: $color_b1;
									position: relative;
									top: 0px;
									left: 0px;

									@include to(movil) {
										font-size: 12px;
										top: -1px;
									}
								}
							}

							&-label {
								display: table-cell;
								vertical-align: top;

								b {
									width: 16px;
									height: 16px;
									display: inline-block;
									font: normal 600 13px $font1;
									line-height: 16px;
									text-align: center;
									vertical-align: middle;
									color: $color_t2;
									border: solid 1px #008fa5;
									cursor: pointer;
									@include redondeado(3px, 3px, 3px, 3px);
									@include transicion(all, 0.2s, ease, 0s);

									&:hover {
										background-color: #e1e4e8;
										color: $color_t2;
										@include transicion(all, 0.2s, ease, 0s);
									}
								}
							}

							&-text {
								display: table-cell;
								font: normal 400 14px $font1;
								color: #000;
								vertical-align: middle;
								padding-left: 10px;

								@include to(movil-h) {
									font-size: 13px;
								}

								em, a {
									color: #0fbfdf;
									text-decoration: underline;
									font-weight: 700;
									font-style: normal;
									cursor: pointer;
								}
							}
						}

					}

					&__footer {
						width: 100%;

						&-action {
							cursor: not-allowed;
							border: none;
							border-radius: 25px;
							background-color: #F4F6F9;
							color: #979797;
							width: 197px;
							height: 50px;
							margin: 0 auto;
							display: block;
							text-align: center;
							font: normal 700 15px $font1;
							line-height: normal;

							@include to(tablet-h) {
								width: 100%;
								height: 45px;
							}

							&.active {
								background-color: #EE122C;
								color: #ffffff;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}

.layout {
	// height: 200vh;
	$layout: &;
}

#asm-autolist {
	border-radius: 10px;
	border: 1px solid #F6F6F6;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	padding: 6px 10px;
	width: 100%;
	top: 78%;
	left: 0;
	margin-top: 0;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
	z-index: 2;
	li {
		list-style: none;
		padding: 10px 12px;
		font-size: 18px;
		line-height: 1.3333333;
		font: normal 400 14px $font1;
		border-radius: 5px;
		// strong{
		// 	font-weight: 400;
		// }
		&.is-highlighted {
			background-color: #EEF1F4;
		}
	}
}

input[type="text"]::-webkit-calendar-picker-indicator,
input[type="email"]::-webkit-calendar-picker-indicator,
input[type="number"]::-webkit-calendar-picker-indicator, 
input[type="search"]::-webkit-calendar-picker-indicator {
    display: none !important;
	-moz-appearance: none; 
	/* for Safari, Chrome, Opera */ 
	-webkit-appearance: none; 
}