extends includes/master

block vars
	- var script = 1;
	- var css = 1;
	- var title = 'Formulario Component | Claro Perú';
	- var modal = 1;

block content
	.page1 
		.portlet(data-portlet='bannerform')
			.section(data-section) 
				.section__modals(id="modaltratamiento") 
					.section__modals__modal 
						.section__modals__modal-close
						hgroup.section__modals__modal-group 
							h4.section__modals__modal-group-title Tratamiento de mis datos personales
						.section__modals__modal-main 
							p.section__modals__modal-main-text Autorizo a AMERICA MOVIL PERU S.A.C. con domicilio en Av. Nicolás Arriola N° 480, Santa Catalina, La Victoria, provincia y departamento de Lima (CLARO), para tratar mis datos personales y registrarlos en el Banco de Datos Personales “Clientes” de su titularidad, con la finalidad de llamarme o enviarme mensajes de texto (SMS), mensajes electrónicos y/o correos electrónicos con contenido informativo, publicitario y/o promocional sobre los productos y/o servicios que he solicitado mediante este formulario. Declaro conocer que (i) mis datos serán registrados por el tiempo necesario para cumplir con la finalidad expuesta, o hasta que decida revocar mi autorización, (ii) CLARO podrá compartir su información con terceros encargados del tratamiento de sus datos personales, (iii) mi autorización resulta facultativa, pero en caso de negativa, la finalidad expuesta no podrá realizarse, (iv) podré ejercer los derechos ARCO (Acceso, Rectificación, Cancelación y Oposición); en los puntos de atención designados para tal efecto o a través del siguiente 
								a(href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/" target="_blank") enlace.
							<br/>
							p.section__modals__modal-main-text Para consultar el detalle de los encargados de tratamiento y mayor información, revisa nuestra 
								a(href="https://www.claro.com.pe/proteccion-datos/" target="_blank") Política de Privacidad.
						.section__modals__modal-footer 
							button.section__modals__modal-footer-close Entendido

				.section__modals(id="modalpromociones") 
					.section__modals__modal 
						.section__modals__modal-close
						hgroup.section__modals__modal-group 
							h4.section__modals__modal-group-title Solicitud para recibir publicidad de Claro
						.section__modals__modal-main 
							p.section__modals__modal-main-text En aplicación del artículo 58 e) de la Ley N° 29571, solicito , mediante mi consentimiento libre, previo, informado, expreso e inequívoco, que AMERICA MOVIL PERU S.A.C. con domicilio en Av. Nicolás Arriola N° 480, Santa Catalina, La Victoria, provincia y departamento de Lima (CLARO), me contacte con fines publicitarios por llamadas, mensajes de texto (SMS), mensajes electrónicos, correos electrónicos y/o por cualquier otro medio análogo de comunicación, sobre cualquier producto y/o servicio de CLARO a la línea telefónica y/o correo electrónico utilizados para completar este formulario.
							<br/>
							p.section__modals__modal-main-text Declaro conocer que (i) mis datos serán registrados en el Banco de Datos Personales “Clientes” de CLARO para cumplir con la finalidad expuesta hasta que decida revocar mi consentimiento, (ii) CLARO podrá compartir mi información con terceros encargados del tratamiento de sus datos personales, (iii) mi consentimiento resulta facultativo, pero en caso de negativa, la finalidad expuesta no podrá realizarse, (iv) podré ejercer los derechos ARCO (Acceso, Rectificación, Cancelación y Oposición); en los puntos de atención designados para tal efecto o a través del siguiente 
								a(href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/" target="_blank") enlace. 
								| Podré consultar el detalle de los encargados de tratamiento y mayor información, revisando la 
								a(href="https://www.claro.com.pe/proteccion-datos/" target="_blank") Política de Privacidad.
						.section__modals__modal-footer 
							button.section__modals__modal-footer-close Entendido

				picture.section__banner
					source(media='(min-width: 1200px)' srcset='https://www.claro.com.pe/assets/havas/sorteo-dota/banner-sorte-dota_desktop_1.jpg')
					source(media='(min-width: 992px)' srcset='https://www.claro.com.pe/assets/havas/sorteo-dota/banner-sorte-dota_tablet_1.jpg')
					img(src='https://www.claro.com.pe/assets/havas/sorteo-dota/banner-sorte-dota_mobile_1.jpg' alt='Banner Form Claro' width='0' height='0' loading='lazy')

				.section__align 
					.content
						//- .formBC
						//- 	h1.formBC__group-title-results(style="text-align: center;") ¡Felicidades a los ganadores!
						//- 	.formBC__results
						//- 		.formBC__results__item
						//- 			p Christina Elisa Azucena Chuco
						//- 			p DNI XXXXX331
						//- 		.formBC__results__item
						//- 			p Erick Mijhail Temoche Angelino
						//- 			p DNI XXXXX843
						//- 		.formBC__results__item
						//- 			p Cristóbal Aráoz
						//- 			p DNI XXXXX519
						//- 		.formBC__results__item
						//- 			p Kelly Rodríguez de la Cruz
						//- 			p DNI XXXXX1077
						//- 		.formBC__results__item
						//- 			p Luis Vásquez
						//- 			p DNI XXXXX697
						//- 		.formBC__results__item
						//- 			p Luis Miguel Guerrero Milla
						//- 			p DNI XXXXX479
						//- 		.formBC__results__item
						//- 			p Juan José Rodríguez Salome
						//- 			p DNI XXXXX011
						//- 		.formBC__results__item
						//- 			p Cristian Anthony Rodriguez Castro
						//- 			p DNI XXXXX825
						//- 		.formBC__results__item
						//- 			p Carlos Aylwin Curi Avalos
						//- 			p DNI XXXXX515
						form.formBC(action="https://claromarketingtool.pe/save-form/eyJpdiI6ImwrSExESzZnT3Z4YzNJT0UrUHBXSVE9PSIsInZhbHVlIjoieE90SGxRcklpUDFPaTd5aHRmRDdEdz09IiwibWFjIjoiMjUxZmUyMzE3NjE2NDY4Yzk0OTllZGE1Y2Q3NTJjNDBmNGUyOTVkNzgwNzNkMDMzMmE2ZTM1M2RiN2QxMTg0MCIsInRhZyI6IiJ9" method="POST" ref="form1" @submit.prevent="submitForm1") 
							hgroup.formBC__group 
								h1.formBC__group-title(style="text-align: center;") ¡Déjanos tus datos y participa!
								p.formBC__group-text 
									//- | Regístrate y participa del 05/07 al 11/07 del 2024.
								//- p.formBC__group-text 
									//- | Sorteo: 12 de abril del 2024
									//- br
									//- br
									//- p.formBC__group-text 
									//- 	| Sorteo: 13/02/2024
							.formBC__main 
								input(type="hidden" name="form_id" value="234")
								input(type="hidden" name="form_name" value="Sorteo ESBELITE")
								input(type="hidden" name="origen" id="origen-HV")
								input(type="hidden" name="g-recaptcha-response" id="token-HV")
								dl.type1  
									dd 
										input(type="text" class="formBC__main-input" name="nombres_y_apellidos_del_titular_claro_hogar" placeholder="Nombres y Apellidos del titular Claro Hogar" autocomplete="nope" v-model.trim="v1$.nombres.$model" :class="{ 'invalid': v1$.nombres.$error, 'valid': !v1$.nombres.$invalid, }" @input="onlyStrings" @keypress="onlyStringsKey($event)")
								dl.type2(style="display: none;")
									dd 
										select(class="formBC__main-select" autocomplete="nope" v-model.trim="v1$.type_documento.$model" :class="{ 'invalid': v1$.type_documento.$error, 'valid': !v1$.type_documento.$invalid, }" name="tipo_de_documento")
											option(value="" disabled selected) Tipo de documento
											option(value="DNI" selected) DNI 
											option(value="RUC") RUC 
											option(value="CE") Carnet de Extranjería
											option(value="Pasaporte") Pasaporte
								dl.type1
									dd 
										input(type="text" class="formBC__main-input" autocomplete="nope" v-model.trim="v1$.documento.$model" :class="{ 'invalid': v1$.documento.$error, 'valid': !v1$.documento.$invalid, }" name="numero_de_dni" placeholder="Número de DNI"
										@input="preventNonAlphanumericInput"
										@keydown="isNumberKey($event)"
										maxlength="8")
								dl.type1
									dd 
										input(type="text" class="formBC__main-input" autocomplete="nope" v-model.trim="v1$.celular.$model" maxlength="9" :class="{ 'invalid': v1$.celular.$error, 'valid': !v1$.celular.$invalid, }" name="numero_de_celular" placeholder="Número de celular" @keypress="isNumber($event)") 
								dl.type1
									dd 
										input(type="text" class="formBC__main-input formBC__main-input--email" autocomplete="nope" v-model.trim="v1$.correo.$model" :class="{ 'invalid': v1$.correo.$error, 'valid': !v1$.correo.$invalid, }" name="correo_electronico" placeholder="Correo electrónico") 

								dl.type1  
									dd 
										input(type="text" class="formBC__main-input" name="nombre_y_apellido_del_acompanante" placeholder="Nombre del acompañante" autocomplete="nope" v-model.trim="v1$.nombres_acompanante.$model" :class="{ 'invalid': v1$.nombres_acompanante.$error, 'valid': !v1$.nombres_acompanante.$invalid, }" @input="onlyStrings" @keypress="onlyStringsKey($event)")
								
								dl.type1
									dd 
										input(type="text" class="formBC__main-input" autocomplete="nope" v-model.trim="v1$.documento_acompanante.$model" :class="{ 'invalid': v1$.documento_acompanante.$error, 'valid': !v1$.documento_acompanante.$invalid, }" name="dni_del_acompanante" placeholder="DNI del acompañante" @input="preventNonAlphanumericInput" @keydown="isNumberKey($event)" maxlength="8")

								dl.type4 
									dd 
										.formBC__main-checkbox
											input(type="checkbox" id="tratamiento" value="Sí" v-model="v1$.tratamiento.$model" @change="v1$.tratamiento.$touch()" name="autorizo_el_tratamiento_de_mis_datos_personales")
											label.formBC__main-checkbox-label(for="tratamiento") 
												b 
											small.formBC__main-checkbox-text 
												| Autorizo el 
												em.ctopen tratamiento de mis datos personales.

								dl.type4 
									dd 
										.formBC__main-checkbox
											input(type="checkbox" id="promociones" v-model="v1$.promociones.$model" @change="v1$.promociones.$touch()" value="Sí" name="quiero_recibir_promociones_y_beneficios_de_claro")
											label.formBC__main-checkbox-label(for="promociones") 
												b 
											small.formBC__main-checkbox-text 
												| Quiero recibir  
												em.ctopen promociones y beneficios
												|  de Claro.

							.formBC__footer(style="text-align: center")
								button.formBC__footer-action#btnAction(type='submit' :disabled="v1$.$invalid && !disabled" :class="{ 'active': !v1$.$invalid }") Enviar

block modal


block css

block javascript
	//- script(type="text/javascript").
		$(document).ready(function() {


		})
	script(type="module" src=path+"js/main-dota.js" async)
	script(type="text/javascript").
		const selectDoc = document.querySelector('input[name="tipo_de_documento"]')

