<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Conoce tu recibo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Telavox">
    <script type="text/javascript" src="js/_library/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/common.css?v=0.0.2" charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    <div class="layout" id="app">
      <div class="layout__main">
        <div class="page2 internal">
          <div class="page2__header internal__header">
            <div class="portlet2">
              <div class="portlet2__align">
                <div class="zone1">
                  <div class="zone1__header">
                    <section>
                      <ul>
                        <li> <a>Inicio</a></li>
                        <li>/</li>
                        <li>Cómo leer tu recibo móvil</li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page2__main">
            <div class="portlet1">
              <div class="portlet1__align">
                <div class="zone1">
                  <div class="zone1__header">
                    <hgroup> 
                      <h2>¿Cómo leer tu recibo móvil?</h2>
                      <p>Haz clic en los círculos para conocer cada sección del recibo</p>
                    </hgroup>
                    <section>
                      <h3>En este caso:</h3>
                      <ul>
                        <li> <span>Tu recibo del mes pasado no se emitió</span></li>
                        <li> <span>Tu línea sufrió un bloqueo por cobranza porque pagaste después de la fecha de vencimiento.</span></li>
                        <li> <span>Una vez realizado el pago, tu servicio se activó y lo usaste con normalidad.</span></li>
                        <li> <span>El recargo de tu factura este mes, corresponde a los días que no te facturamos el mes anterior.</span></li>
                      </ul>
                    </section>
                  </div>
                  <div class="zone1__main">
                    <hgroup> 
                      <h2>Haz clic en cada número para más información</h2>
                    </hgroup>
                    <section>
                      <ul id="tabrecibo">
                        <li class="active"><span @click="openTab('tabrecibo','li',0)">Hoja 1</span></li>
                        <li><span @click="openTab('tabrecibo','li',1)">Hoja 2</span></li>
                      </ul>
                    </section>
                  </div>
                  <div class="zone1__footer">
                    <article v-if="hiddens.tabrecibo == 0">
                      <section>
                        <form class="content">
                          <div class="content__image">
                            <figure>
                              <picture>
                                <source srcset="assets/recibos/recibo1.jpg" media="(min-width: 600px)"/><img src="assets/recibos/recibo1.jpg" alt="MDN"/>
                              </picture>
                            </figure>
                          </div>
                          <div class="content__info">
                            <div class="content__info__desktop">
                              <div class="point" style="--point-y: 100px;--point-x: 460px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point1" name="hoja1"/>
                                  <label class="expand" for="point1" data-point="1"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Datos del recibo y cliente</h3>
                                    <p>Se muestra el número de tu recibo, fecha de emisión, número celular y periodo de facturación. Asimismo como los datos principales del titular de la línea: DNI, número de cuenta y dirección.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 195px;--point-x: 160px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point2" name="hoja1"/>
                                  <label class="expand" for="point2" data-point="2"> </label>
                                </div>
                                <div class="point__info pright">
                                  <hgroup>
                                    <h3>Historial facturado</h3>
                                    <p>Puedes observar los últimos 6 meses y las variaciones en los montos facturados.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 205px;--point-x: 460px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point3" name="hoja1"/>
                                  <label class="expand" for="point3" data-point="3"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Total a pagar</h3>
                                    <p>Puedes visualizar el monto total a pagar, la fecha de vencimiento y tu código de pago.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 350px;--point-x: 360px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point4" name="hoja1"/>
                                  <label class="expand" for="point4" data-point="4"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Cargos mensuales</h3>
                                    <p>Aquí podrás ver tu plan contratado, el tipo de Límite de consumo y lo consumido según cada servicio: voz, RPC, datos, SMS, etc. Los precios incluyen IGV</p>
                                  </hgroup>
                                </div>
                              </div>
                            </div>
                            <div class="content__info__mobile">
                              <div class="point" style="--point-y: 50px;--point-x: 265px;" @click="goTo('#hoja1_point1');">
                                <div class="point__number">
                                  <label data-point="1"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 105px;--point-x: 100px;" @click="goTo('#hoja1_point2');">
                                <div class="point__number">
                                  <label data-point="2"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 105px;--point-x: 265px;" @click="goTo('#hoja1_point3');">
                                <div class="point__number">
                                  <label data-point="3"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 195px;--point-x: 200px;" @click="goTo('#hoja1_point4');">
                                <div class="point__number">
                                  <label data-point="4"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="content__list">
                            <dl id="hoja1_point1">
                              <dt><span data-point="1"></span>
                                <h3>Datos del recibo y cliente</h3>
                              </dt>
                              <dd>
                                <p>Se muestra el número de tu recibo, fecha de emisión, número celular y periodo de facturación. Asimismo como los datos principales del titular de la línea: DNI, número de cuenta y dirección.</p>
                              </dd>
                            </dl>
                            <dl id="hoja1_point2">
                              <dt><span data-point="2"></span>
                                <h3>Historial facturado</h3>
                              </dt>
                              <dd>
                                <p>Puedes observar los últimos 6 meses y las variaciones en los montos facturados.</p>
                              </dd>
                            </dl>
                            <dl id="hoja1_point3">
                              <dt><span data-point="3"></span>
                                <h3>Total a pagar</h3>
                              </dt>
                              <dd>
                                <p>Puedes visualizar el monto total a pagar, la fecha de vencimiento y tu código de pago.</p>
                              </dd>
                            </dl>
                            <dl id="hoja1_point4">
                              <dt><span data-point="4"></span>
                                <h3>Cargos mensuales</h3>
                              </dt>
                              <dd>
                                <p>Aquí podrás ver tu plan contratado, el tipo de Límite de consumo y lo consumido según cada servicio: voz, RPC, datos, SMS, etc. Los precios incluyen IGV</p>
                              </dd>
                            </dl>
                          </div>
                        </form>
                      </section>
                    </article>
                    <article v-if="hiddens.tabrecibo == 1">
                      <section>
                        <div class="content">
                          <div class="content__image">
                            <figure>
                              <picture>
                                <source srcset="assets/recibos/recibo2.jpg" media="(min-width: 600px)"/><img src="assets/recibos/recibo2.jpg" alt="MDN"/>
                              </picture>
                            </figure>
                          </div>
                          <div class="content__info">
                            <div class="content__info__desktop">
                              <div class="point" style="--point-y: 100px;--point-x: 460px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point1" name="hoja2"/>
                                  <label class="expand" for="point1" data-point="1"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Datos del recibo y cliente</h3>
                                    <p>Se muestra el número de tu recibo, fecha de emisión, número celular y periodo de facturación. Asimismo como los datos principales del titular de la línea: DNI, número de cuenta y dirección.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 195px;--point-x: 160px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point2" name="hoja2"/>
                                  <label class="expand" for="point2" data-point="2"> </label>
                                </div>
                                <div class="point__info pright">
                                  <hgroup>
                                    <h3>Historial facturado</h3>
                                    <p>Puedes observar los últimos 6 meses y las variaciones en los montos facturados.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 205px;--point-x: 460px;">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point3" name="hoja2"/>
                                  <label class="expand" for="point3" data-point="3"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Total a pagar</h3>
                                    <p>Puedes visualizar el monto total a pagar, la fecha de vencimiento y tu código de pago.</p>
                                  </hgroup>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 350px;--point-x: 360px;" name="hoja2">
                                <div class="point__number">
                                  <input class="check" type="radio" id="point4"/>
                                  <label class="expand" for="point4" data-point="4"> </label>
                                </div>
                                <div class="point__info pleft">
                                  <hgroup>
                                    <h3>Cargos mensuales</h3>
                                    <p>Aquí podrás ver tu plan contratado, el tipo de Límite de consumo y lo consumido según cada servicio: voz, RPC, datos, SMS, etc. Los precios incluyen IGV</p>
                                  </hgroup>
                                </div>
                              </div>
                            </div>
                            <div class="content__info__mobile">
                              <div class="point" style="--point-y: 50px;--point-x: 265px;" @click="goTo('#hoja2_point1');">
                                <div class="point__number">
                                  <label data-point="1"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 105px;--point-x: 100px;" @click="goTo('#hoja2_point2');">
                                <div class="point__number">
                                  <label data-point="2"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 105px;--point-x: 265px;" @click="goTo('#hoja2_point3');">
                                <div class="point__number">
                                  <label data-point="3"></label>
                                </div>
                              </div>
                              <div class="point" style="--point-y: 195px;--point-x: 200px;" @click="goTo('#hoja2_point4');">
                                <div class="point__number">
                                  <label data-point="4"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="content__list">
                            <dl id="hoja2_point1">
                              <dt><span data-point="1"></span>
                                <h3>Datos del recibo y cliente</h3>
                              </dt>
                              <dd>
                                <p>Se muestra el número de tu recibo, fecha de emisión, número celular y periodo de facturación. Asimismo como los datos principales del titular de la línea: DNI, número de cuenta y dirección.</p>
                              </dd>
                            </dl>
                            <dl id="hoja2_point2">
                              <dt><span data-point="2"></span>
                                <h3>Historial facturado</h3>
                              </dt>
                              <dd>
                                <p>Puedes observar los últimos 6 meses y las variaciones en los montos facturados.</p>
                              </dd>
                            </dl>
                            <dl id="hoja2_point3">
                              <dt><span data-point="3"></span>
                                <h3>Total a pagar</h3>
                              </dt>
                              <dd>
                                <p>Puedes visualizar el monto total a pagar, la fecha de vencimiento y tu código de pago.</p>
                              </dd>
                            </dl>
                            <dl id="hoja2_point4">
                              <dt><span data-point="4"></span>
                                <h3>Cargos mensuales</h3>
                              </dt>
                              <dd>
                                <p>Aquí podrás ver tu plan contratado, el tipo de Límite de consumo y lo consumido según cada servicio: voz, RPC, datos, SMS, etc. Los precios incluyen IGV</p>
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </section>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <modal name="mVideo" :width="900" :height="'auto'" :adaptive="true">
        <div class="video">
          <div class="video__header">
            <button @click="$modal.hide('mVideo');modal.show = false;">X</button>
          </div>
          <div class="video__iframe">
            <iframe width="560" height="315" :src="modalUrl + '&amp;autoplay=1'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </modal>
    </div>
    <div class="load_ing" id="load_er"><img src="https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/7e3e6f3b-2d43-4906-948c-25d3d00aa81e-loadingClaro.gif" alt=""></div>
    <script type="text/javascript" src="js/portal/vue3.js"> </script>
    <script type="text/javascript" src="js/portal/vue3-demi.js"> </script>
    <script type="text/javascript" src="js/portal/vuelidate3-core.js"> </script>
    <script type="text/javascript" src="js/portal/vuelidate3-validators.js"></script>
    <script type="text/javascript" src="js/plugins/auto-suggest-email.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Le-6poUAAAAAPbrsY79XwKMDjW9PkwVZAU36Fxz"></script>
    <script type="text/javascript" src="js/library/vue2-transitions.min.js"></script>
    <script type="text/javascript" src="js/library/toastr.js"></script>
    <script type="text/javascript" src="js/library/lodash.js"></script>
    <script type="text/javascript" src="js/library/vee-validate.js"></script>
    <script type="text/javascript" src="js/library/vue-scrollto.js"></script>
    <script type="text/javascript" src="js/library/slick.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/library/vue-slide-up-down.umd.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/library/vue-slick.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/library/vue-modal.js"></script>
    <script type="text/javascript" src="js/datacontent.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
  </body>
</html>